<a href="https://colab.research.google.com/github/alazaradane/google_colab/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for Astronomy

In [ ]:
# My first code in Python
print("hello world!")

hello world!

### 1. Comments

In [ ]:
"""
This is my first line of comment
This is my second line of comment
"""

In [ ]:
# Selected the text below and pressend ctrl + /
# This is my first comment
# This is my second comment
# dsmnfksmdf
# sd'fskfmsdlkf;sdfsf
# smslkfms

### 2. Variables and Constants

In [ ]:
x = 4
y = 5
print(x + x + y + x + y)

22

In [ ]:
y = 1

### 3. Basic Data Types

In [ ]:
# Create varaibles to store the information about a planet in our Solar System
planet_name = 'Venus'
planet_age = '4.6 Billion Years'
planet_index = 1     # In Python, index starts from 0. Hence, Venus is on Index 1 after Mercury on Index 0

In [ ]:
# Displaying the data values for each variables
print(planet_name)
print(planet_age)
print(planet_index)

Venus
4.6 Billion Years
1

In [ ]:
# Checking the type of variables by using type() command
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
z = 3.2
print(type(z))

<class 'float'>

### 4. f-strings

In [ ]:
# Understanding the power of f-strings
name_planet = 'Saturn'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

In [ ]:
# String concatenation
str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not! :D"
print(f'{str_1} {str_2}')

Earth is the only planet with Life. Maybe not! :D

### 5. User Inputs

In [ ]:
# Use input() to take user inputs
user_name = input("Enter your name:- ")

Enter your name:- Rohan

In [ ]:
# Displaying the variable and its type given by the user
print(user_name)
print(type(user_name))

Rohan
<class 'str'>

In [ ]:
# Ask user to input their fav number
user_fav_number = input('Enter your favourite number:- ')

Enter your favourite number:- 7

In [ ]:
# Diplay the variable and its type given by the user
print(user_fav_number)
print(type(user_fav_number))

7
<class 'str'>

### 6. Data Type Conversion

In [ ]:
# Commands to convert --> str(input), int(input), float(input)

# Convert a string data into integer and float
str_to_int = int(user_fav_number)
print(str_to_int)
print(type(str_to_int))

str_to_float = float(user_fav_number)
print(str_to_float)
print(type(str_to_float))

7
<class 'int'>
7.0
<class 'float'>

In [ ]:
# Get user input of two different integers and add them together
n1 = int(input('Give any integer number:- '))
n2 = int(input('Give one more integer:- '))
print(f"The sum of {n1} and {n2} is {n1+n2}")

Give any integer number:- 7
Give one more integer:- 9
The sum of 7 and 9 is 16

### 7. Control Flow
* For Loop and While Loop
* Condition Statements

In [ ]:
# range(start, end, skip) ---> Start is inclusive and end is exclusive
range(1, 11)

range(1, 11)

In [ ]:
# For loop
for index in range(1, 11, 2):
  print(index)

In [ ]:
# convert any string into lower case
str_demo = 'Upper Case'
print(str_demo)

print(str_demo.lower())

Upper Case
upper case

In [ ]:
# While Loop

ct = 0
print('--- Type "quit" to exit! ---')
while True:
  obj = input(f'Enter your favourite Celestial Object {ct+1}:- ')
  ct += 1 # ct = ct + 1
  if obj.lower() == 'quit':
    break

--- Type "quit" to exit! ---
Enter your favourite Celestial Object 1:- Earth
Enter your favourite Celestial Object 2:- Black Hole
Enter your favourite Celestial Object 3:- QuiT

### 8. Functions

In [ ]:
# Creating a function to greet viewers of this video without any input arguments
def greet():
  print('Hey Astrophiles!')

In [ ]:
# Call that function
greet()

Hey Astrophiles!

In [ ]:
# Define a function to greet a person whose name will be given as an input
def greet_person(name):
  print(f'Hey {name}, I hope you are enjoying this session and learning a lot of things in Python!')

In [ ]:
# Call that function
greet_person('Rohan')

Hey Rohan, I hope you are enjoying this session and learning a lot of things in Python!

In [ ]:
# Call this function with different name
greet_person('Karan')

Hey Karan, I hope you are enjoying this session and learning a lot of things in Python!

In [ ]:
# Call this function to greet everyone here watching the video
greet_person('everyone')

Hey everyone, I hope you are enjoying this session and learning a lot of things in Python!

In [ ]:
# Postional Arguments
def greeting(name, msg):
  print(f'Hey {name}, {msg}')

In [ ]:
# Call this function by placing the input arguments in the same order while building it
greeting('Lavanya', 'Are you an Astrophile?')

Hey Lavanya, Are you an Astrophile?

In [ ]:
# Call the function by shifting the postions of the arguments
greeting('Are you an Astrophile?', 'Lavanya')

Hey Are you an Astrophile?, Lavanya

In [ ]:
# Call this function with keyword arguments
greeting(msg = 'Are you an Astrophile?', name = 'Lavanya')

Hey Lavanya, Are you an Astrophile?

In [ ]:
# Default arguments
def greeting_with_default_args(name, msg='Welcome to this program on Astronomy Visualization!'):
  print(f'Hey {name}, {msg}')

In [ ]:
# Call this function without passing msg arg
greeting_with_default_args('Rohan', msg = 'Whats up?')

Hey Rohan, Whats up?

In [ ]:
# Create a function that will either add, subtract, multiply or divide two input numbers
def basic_calc(n1, n2, operation):
  """
  Creates a basic calculator that takes n1 and n2 in the same order and performs either of:-
  - add
  - subtract
  - multiply
  - divide

  Parameters -
  -----------
  n1 - first number
  n2 - second number
  operations - any of the operations mentioned above for our basic calc

  Return -
  ------
  The output of the operation done on n1 and n2
  """

  if operation.lower() == 'add':
    return n1+n2
  elif operation.lower() == 'subtract':
    return n1-n2
  elif operation.lower() == 'multiply':
    return n1*n2
  elif operation.lower() == 'divide':
    return n1/n2
  else:
    print(f'Opertation input can either take:- add, multiply, subtract or divide. You gave:- {operation}. Try again')

In [ ]:
addition = basic_calc(2, 3, 'add')
print(addition)

5

In [ ]:
multiply = basic_calc(3, 3, 'multiply')
print(multiply)

9

In [ ]:
basic_calc(3, 3, 'daskdjakdjak')

opertation input can either take:- add, multiply, subtract or divide. You gave:- daskdjakdjak. Try again